* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: black;
  background-color: white;
/*   text-align: center; */
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  object-fit: contain;
}

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

/**/

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}


button {
  color: white;
  background-color: #7e84f8;
  background-image: linear-gradient(
    -60deg,
    transparent 0%, transparent 40%,
    #ffffff44 40%, #ffffff44 60%,
    transparent 60%, transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;
  border-radius: 0.7rem;
  border: 1px solid transparent;
  text-decoration: none;
  padding: 0.2em 0.5em;
  margin: 0.1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:not([disabled]):hover {
  background-position-x: -150%;
  transition: background-position-x 1000ms;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #535bf2;
  color: #535bf2;
}