.navbar {
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;

   /*  position: fixed; */
  /*   margin: 0 auto; */
    z-index: 50;
    border-bottom: 1px solid black
  }
  
  nav > * {

  }